/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(base.png);
}

.ds4.white.disconnected {
    background: url();
}

.ds4.white .trigger {
    background-image: url(triggers.png);
}

.ds4.white .bumper {
    background-image: url(bumper.png);
}

.ds4.white .touchpad.pressed {
    background-image: url();
}

.ds4.white .back, .ds4 .start {
    background-image: url();
}

.ds4.white .button {
    background-image: url(face.png);
}

.ds4.white .stick {
    background-image: url(sticks.png);
    position: absolute;
    width: 361px;
    height: 105px;
    top: 300px;
    left: 225px;
}

.ds4.white .stick {
    position: absolute;
    background-image: url(sticks.png);
    height: 94px;
    width: 94px;
}

.ds4.white .stick.left {
    top: 20;
    left: 20;
}

.ds4.white .face {
    background-image: url(dpad.png);
}

/*END PS4 White Controller Styling*/
