/*BEGIN PS4 Controller Styling*/

.controller.custom{
    background: url(https://imgur.com/5rBGWsN.png); 
    height: 1200px;
    width: 924px;
    background-repeat:no-repeat;
}

.custom.disconnected { 
    background: url(https://imgur.com/Y6hjpRD.png);
}

.custom.disconnected div {
    display: none;
}

 .custom .triggers{ 
    position: absolute;
    background-repeat:no-repeat;
} 

.custom .trigger{
    height: 1200px;
    width: 924px;
    background-repeat:no-repeat;
}

.custom .trigger.left{ 
    height: 1200px;
    width: 924px;
    background: url(https://imgur.com/sw08zls.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .trigger.right{
    height: 1200px;
    width: 924px;
    background: url(https://imgur.com/4MV1gGe.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .bumper{
    opacity: 0;
}

.custom .bumper.pressed{ 
    opacity: 1;
}

.custom .bumper.right{
    height: 1200px;
    width: 924px;
    background: url(https://imgur.com/yKZA6oA.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .bumper.left{
    height: 1200px;
    width: 924px;
    background: url(https://imgur.com/cfCG5ne.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .arrows{
    position: absolute;
    width: 205px;
    height: 19px;
    top: 250px;
    left: 291px;
    background-repeat:no-repeat;
}

.custom .back{
    opacity: 0;
    position: absolute;
}

.custom .start{
    opacity: 0;
    position: absolute;
}

.custom .back.pressed{
    height: 1200px;
    width: 924px;
    left: -291px;
    top: -250px;
    background: url(https://imgur.com/hVHjOjW.png);
    position: absolute;
    opacity: 1;
} 

.custom .start.pressed{
    height: 1200px;
    width: 924px;
    left: -291px;
    top: -250px;
    background: url(https://imgur.com/MgX6Ev2.png);
    opacity: 1;
}

.custom .abxy{
    position: absolute;
    background-repeat:no-repeat;
}

.custom .button{
    position: absolute;
}

.custom .button.pressed{
    background-position-y: -00px;
    margin-top: 0px;
}

.custom .a.pressed{
    background: url(https://imgur.com/g6i0OzR.png); 
    height: 1200px;
    width: 924px;
    background-repeat:no-repeat;
}

.custom .b.pressed{
    background: url(https://imgur.com/r748eoQ.png);
    height: 1200px;
    width: 924px;
    background-repeat:no-repeat;
}

.custom .x.pressed{
    background: url(https://imgur.com/Pa0O56C.png); 
    height: 1200px;
    width: 924px;
    background-repeat:no-repeat;
}

.custom .y.pressed{
    background: url(https://imgur.com/bTBVcJ1.png) ; 
    height: 1200px;
    width: 924px;
    background-repeat:no-repeat;
}

.custom .meta.pressed{
    background: url(https://imgur.com/H08b0bd.png) ; 
    height: 1200px;
    width: 924px;
    background-repeat:no-repeat;
}

.custom .sticks{    
    left: 334px;
    top: 498px;
    position: absolute;
    background-repeat:no-repeat;
}

.custom .stick.{
    position: absolute;
}

.custom .stick.pressed.left{
    position: absolute;
    background: url(https://imgur.com/JSSG1Zz.png);
    height: 140px;
    width: 140px;
    background-repeat:no-repeat;
}

.custom .stick.pressed.right{
    position: absolute;
    background: url(https://imgur.com/JSSG1Zz.png);
    height: 140px;
    width: 140px;
    background-repeat:no-repeat;
}

.custom .stick.left{
    position: absolute;
    background: url(https://imgur.com/HFDIoOh.png);
    height: 140px;
    width: 140px;
    background-repeat:no-repeat;
}

.custom .stick.right{
    position: absolute;
    background: url(https://imgur.com/HFDIoOh.png);
    left: 426px;
    height: 140px;
    width: 140px;
    background-repeat:no-repeat;
}

.custom .dpad{
    height: 1200px;
    width: 924px;
    background-repeat:no-repeat;
}

.custom .face{
    background: url(dpad.png);
    position: absolute;
}

.custom .face.right.pressed{
    background: url(https://imgur.com/4BovC56.png); 
    height: 1200px;
    width: 924px;
    background-repeat:no-repeat;
}

.custom .face.left.pressed{
    background: url(https://imgur.com/UD34pNo.png); 
    height: 1200px;
    width: 924px;
    background-repeat:no-repeat;
}

.custom .face.up.pressed{
    background: url(https://imgur.com/T5pA45I.png); 
    height: 1200px;
    width: 924px;
    background-repeat:no-repeat;
}

.custom .face.down.pressed{ 
    background: url(https://imgur.com/TqeT5U0.png); 
    height: 1010px;
    width: 1255px;
    background-repeat:no-repeat;
}

.custom .touchpad.pressed{
    position:absolute;
    height: 1200px;
    width: 924px;
    background: url(https://imgur.com/YHrP03A.png);
    background-repeat:no-repeat;
}

/*END PS4 Controller Styling*/
