.controller.custom {
    background: url(base.png);
    height: 540px;
    width: 720px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected div {
    background: url(diaconnected.png)
    display: none;
}

.custom .triggers {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.custom .trigger.left {
    background: url(L2.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .trigger.right {
    background: url(R2.png);
    position: absolute;
    left: 299px;
    top: 38px;
{

.custom .bumpers {
    position: absolute;
    width: 100%;
    height: 100%x;
    opacity: 0;
}

.custom .bumper.pressed {
    opacity: 0.8;
}

.custom .bumper.left {
    background: url(L1.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .bumper.right {
    background: url(R1.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .touchpad.pressed {
    background: url(Trigger_Pressed.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .abxy {
    position: absolute;
    width: 100%;
    height: 100%x;
    opacity: 0;
}

.custom .button {
    position: absolute;
    width: 100%;
    height: 100%x;
    opacity: 0;
}

.custom .button.pressed {
    position: absolute;
    width: 100%;
    height: 100%x;
    opacity: 0;
}

.custom .a {
    background: url(A.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .b {
    background: url(B.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .x {
    background: url(X.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .y {
    background: url(Y.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .stick {
    position: absolute;
    width: 100%;
    height: 100%x;
    opacity: 0;
}

.custom .stick.pressed.left {
    background: url(sticks.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .stick.pressed.right {
    background: url(sticks.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .stick.left {
    background: url(sticks.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .stick.right {
    background: url(sticks.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .dpad {
    position: absolute;
    width: 100%;
    height: 100%x;
    opacity: 0;
}

.custom .face {
    position: absolute;
    width: 100%;
    height: 100%x;
    opacity: 0;
}


.custom .face.up {
    background: url(up.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .face.down {
    background: url(down.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .face.left {
    background: url(left.png);
    position: absolute;
    left: 299px;
    top: 38px;
}

.custom .face.right {
    background: url(right.png);
    position: absolute;
    left: 299px;
    top: 38px;
}
