/*BEGIN Xbox Elite 2 Controller Styling*/

.controller.custom{
    background: url(basic.png); 
    width: 812px;
    height: 715px;
    background-repeat:no-repeat;
}

.custom.disconnected { 
    background: url(disconnected.gif);
}

.custom.disconnected div {
    display: none;
}

 .custom .triggers{ 
    position: absolute;
    background-repeat:no-repeat;
} 

.custom .trigger{
    width: 812px;
    height: 715px;
    background-repeat:no-repeat;
}

.custom .trigger.left{ 
    width: 812px;
    height: 715px;
    background: url(L2.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .trigger.right{
    width: 812px;
    height: 715px;
    background: url(R2.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .bumper{
opacity: 0;
}

.custom .bumper.pressed{ 
    opacity: 1;
}

.custom .bumper.right{
    width: 812px;
    height: 715px;
    background: url(R1.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .bumper.left{
    width: 812px;
    height: 715px;
    background: url(L1.png);
    position: absolute;
    background-repeat:no-repeat;
}

.custom .arrows{
    position: absolute;
    width: 205px;
    height: 19px;
    top: 250px;
    left: 291px;
    background-repeat:no-repeat;
}

.custom .back{
    opacity: 0;
    position: absolute;
}

.custom .start{
    opacity: 0;
    position: absolute;
}

.custom .back.pressed{
    width: 812px;
    height: 715px;
    left: -291px;
    top: -250px;
    background: url(Share.png);
    position: absolute;
    opacity: 1;
} 

.custom .start.pressed{
    width: 812px;
    height: 715px;
    left: -291px;
    top: -250px;
    background: url(Options.png);
    opacity: 1;
}

.custom .abxy{
    position: absolute;
    background-repeat:no-repeat;
}

.custom .button{
    position: absolute;
}

.custom .button.pressed{
    background-position-y: -00px;
    margin-top: 0px;
}

.custom .a.pressed{
    background: url(X.png); 
    width: 812px;
    height: 715px;
    background-repeat:no-repeat;
}

.custom .b.pressed{
    background: url(O.png);
    width: 812px;
    height: 715px;
    background-repeat:no-repeat;
}

.custom .x.pressed{
    background: url(S.png); 
    width: 812px;
    height: 715px;
    background-repeat:no-repeat;
}

.custom .y.pressed{
    background: url(T.png) ; 
    width: 812px;
    height: 715px;
    background-repeat:no-repeat;
}

.custom .meta.pressed{
    background: url(meta.png) ; 
    width: 812px;
    height: 715px;
    background-repeat:no-repeat;
}

.custom .sticks{    
    left: 148px;
    top: 256px;
    position: absolute;
    background-repeat:no-repeat;
}

.custom .stick.{

    position: absolute;
}

.custom .stick.pressed.left{
    position: absolute;
    background: url(L3.png);
    height: 94px;
    width: 94px;
    background-repeat:no-repeat;
}

.custom .stick.pressed.right{
    position: absolute;
    background: url(R3.png);
    height: 94px;
    width: 94px;
    background-repeat:no-repeat;
}

.custom .stick.left{
    position: absolute;
    background: url(LS.png);
    height: 94px;
    width: 94px;
    background-repeat:no-repeat;
}

.custom .stick.right{
    position: absolute;
    background: url(RS.png);
    left: 320px;
    top: 125px;
    height: 94px;
    width: 94px;
    background-repeat:no-repeat;
}

.fstick {
    width: 812px;
    height: 715px;
    /*background: url(Dpad/dpad.png);*/
}

.fstick.up {
    background: url(Dpad/dpad-U.png);
}

.fstick.down {
    background: url(Dpad/dpad-D.png);
}

.fstick.left {
    background: url(Dpad/dpad-L.png);
}

.fstick.right {
    background: url(Dpad/dpad-R.png);
}

.fstick.up.right {
    background: url(Dpad/dpad-UR.png);
}

.fstick.up.left {
    background: url(Dpad/dpad-UL.png);
}

.fstick.down.right {
    background: url(Dpad/dpad-DR.png);
}

.fstick.down.left {
    background: url(Dpad/dpad-DL.png);
}

/*END Xbox Elite 2 Controller Styling*/
