/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(base.gif);
}

.xbox.white {
    background: url(base.gif);
}

.xbox.disconnected {
    background: url(disconnected.gif);
}

.xbox .trigger {
    background: url(trigger.png);
}

.xbox .bumper {
    background: url(bumper.png);
}

.xbox .quadrant {
    background: url(quadrant.png);
}

.xbox .button {
    background: url(abxy.png);
}

.xbox .stick {
    background: url(stick.png);
}

.xbox .face {
    background: url(dpad.png);
}

.xbox .back, .xbox .start {
    background: url(START.png);
}

/*END Xbox One Controller Styling*/
