/BEGIN PS4 Controller Styling/
.controller.ds4 {
    background-image: url(base.png);
}

.ds4.disconnected {
    background: url(disconnected.png);
}

.ds4 .trigger {
    background-image: url(trigger.png);
}

.ds4 .bumper {
    background-image: url(bumper.png);
}

.ds4 .touchpad.pressed {
    background-image: url(touchpad.png);
}

.ds4 .back, .ds4 .start {
    background-image: url(start.png);
}

.ds4 .button {
    background-image: url(face.png);
}

.ds4 .stick {
    background-image: url(sticks.png);
}

.ds4 .face {
    background-image: url(dpad.png);
}

.ds4 .meta {
    background-image: url(meta.png);
}

/END PS4 White Controller Styling/