
/*BEGIN Xbox Elite 2 Controller Styling*/

.controller.custom {
  background: url(elite2-assets/base.png);
  width: 812px;
  height: 569px;
}

.custom.disconnected {
  background: url(elite2-assets/base-disconnect.png);
}

.custom.disconnected div {
  display: none;
}

.custom .triggers {
  width: 558px;
  height: 65px;
  position: absolute;
  left: 129px;
  top: -80px;
}

.custom .trigger 
  width: 86px;
  height: 95px;
}

.custom .trigger.left {
  background: url(elite2-assets/Trigger%20Left.png);
  float: left;
}

.custom .trigger.right {
  background: url(elite2-assets/Trigger%20Right.png);
  float: right;
}

.custom .bumpers {
  position: absolute;
  width: 571px;
  height: 71px;
  left: 120px;
}

.custom .bumper {
  width: 177px;
  height: 71px;
  /* background: url(elite2-assets/bumpers.png); */
}

.custom .pressed {
  /* opacity: 1; */
  filter: invert(1);
}

.custom .bumper.pressed {
  /* opacity: 1; */
  filter: brightness(2.5);
}

.custom .bumper.left {
  /* -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); */
  background: url(elite2-assets/Bumper%20Left.png);
  float: left;
}

.custom .bumper.right {
  background: url(elite2-assets/Bumper%20Right.png);
  float: right;
}

.custom .quadrant {
  position: absolute;
  background: url(elite2-assets/player-n.png);
  height: 17px;
  width: 111px;
  top: 140px;
  left: 240px;
}

.custom .p0 {
  background-position: 0 -6px;
}

.custom .p1 {
  background-position: 0 -28px;
}

.custom .p2 {
  background-position: 0 -49px;
}

.custom .p3 {
  background-position: 0 -70px;
}

.custom .arrows {
  position: absolute;
  width: 157px;
  height: 39px;
  top: 138px;
  left: 327px;
}

.custom .back,
.custom .start {
  width: 36px;
  height: 36px;
}

.custom .back.pressed,
.custom .start.pressed {
}

.custom .back {
  background: url(elite2-assets/Start.png);
  float: left;
  width: 38px;
}

.custom .start {
  background: url(elite2-assets/Select.png);
  float: right;
  width: 36px;
}

.custom .abxy {
  position: absolute;
  width: 172px;
  height: 168px;
  top: 75px;
  left: 532px;
}

.custom .button {
  position: absolute;
  width: 59px;
  height: 59px;
}

.custom .button.pressed {
  /* background-position-y: -64px;
  margin-top: 5px; */
}

.custom .a {
  background: url(elite2-assets/A.png);
  top: 110px;
  left: 57px;
}

.custom .b {
  background: url(elite2-assets/B.png);
  top: 57px;
  right: 0px;
}

.custom .x {
  background: url(elite2-assets/X.png);
  top: 55px;
}

.custom .y {
  background: url(elite2-assets/Y.png);
  left: 58px;
}

.custom .sticks {
  position: absolute;
  width: 422px;
  height: 220px;
  top: 110px;
  left: 147px;
}

.custom .stick {
  position: absolute;
  /* background: url(elite2-assets/thumbs.png); */
  height: 92px;
  width: 94px;
}

.custom .stick.pressed.left {
  /* background-position-x: -106px; */
}

.custom .stick.pressed.right {
  /* background-position-x: -211px; */
}

.custom .stick.left {
  background: url(elite2-assets/Stick%20Left.png);
  top: 0;
  left: 0;
}

.custom .stick.right {
  background: url(elite2-assets/Stick%20Right.png);
  top: calc(100% - 96px);
  left: calc(100% - 101px);
}

.custom .dpad {
  position: absolute;
  width: 140px;
  height: 132px;
  top: 192px;
  left: 74px;
}

.custom .face {
  /* background: url(elite2-assets/dpad.png); */
  position: absolute;
}

.custom .face.up,
.custom .face.down {
  width: 38px;
  height: 52px;
}

.custom .face.left,
.custom .face.right {
  width: 52px;
  height: 38px;
}

.custom .face.up {
  left: 50px;
  top: 0;
  background-position: 92px 0px;
}

.custom .face.down {
  left: 50px;
  top: 79px;
  background-position: 131px 0;
}

.custom .face.left {
  top: 47px;
  left: 0;
  background-position: 0px 0;
}

.custom .face.right {
  top: 47px;
  right: 0px;
  background-position: 53px 0;
}

.custom .face.pressed {
  margin-top: 5px;
  background-position-y: 52px;
}

.fstick {
  position: absolute;
  width: 136px;
  height: 135px;
  top: 224px;
  left: 230px;
  background: url(elite2-assets/dpad.png);
}

.fstick.up {
  background: url(elite2-assets/F-midtop.png);
}

.fstick.down {
  background: url(elite2-assets/F-midbot.png);
}

.fstick.left {
  background: url(elite2-assets/F-midleft.png);
}

.fstick.right {
  background: url(elite2-assets/F-midright.png);
}

.fstick.up.right {
  background: url(elite2-assets/F-topright.png);
}

.fstick.up.left {
  background: url(elite2-assets/F-topleft.png);
}

.fstick.down.right {
  background: url(elite2-assets/F-botright.png);
}

.fstick.down.left {
  background: url(elite2-assets/F-botleft.png);
}

/*END Xbox Elite 2 Controller Styling*/
